<div class="header_navigation_inner {{ logo_position }}">
  <ul class="parent_wrapper">
    <li class="parent_li">
      <a class="parent_link text_decoration" aria-label="Why Kopilot" href="/#kopilot-why-kopilot">
        <span class="menu_{{ font_family }}">Why Kopilot</span>
      </a>
    </li>
    <li class="parent_li">
      <a class="parent_link text_decoration" aria-label="How It Works" href="/#kopilot-how-it-works">
        <span class="menu_{{ font_family }}">How It Works</span>
      </a>
    </li>
    <li class="parent_li">
      <a class="parent_link text_decoration" aria-label="Brand Ambassador" href="/#kopilot-brand-ambassador">
        <span class="menu_{{ font_family }}">Brand Ambassador</span>
      </a>
    </li>
  </ul>
</div>
