<a href="{{ all_products['kopilot-id'].url | default: '/products/kopilot-id' }}">
  <div class="kopilot-tag">
    <img src="{{ 'tagbutton.svg' | asset_url }}" alt="tag icon" width="110" height="110" loading="lazy">
    <img src="{{ 'tagbutton-big-black.png' | asset_url }}" alt="tag icon" class="big-tag" width="110" height="110" loading="lazy">
    <img src="{{ 'tagbutton-grey.svg' | asset_url }}" alt="tag icon" class="grey-tag" width="110" height="110" loading="lazy">
  </div>
</a>
