
.get-started-emergency .kopilot-features-container{
    padding-left:102px;
}
.get-started-emergency .kopilot-features-media-col{
    width:720px;
}


@media screen and (max-width: 767px) {
  .get-started-emergency .kopilot-features-heading {
    width: 100%;
    max-width: 300px;
  }
  .get-started-emergency .kopilot-features-media-col{
    width:100%;
}
.get-started-emergency .kopilot-features-container{
    padding-left:0px;
}
}