.get-started-emergency .kopilot-features-media-col{
    width:720px;
}


@media screen and (max-width: 767px) {
  .get-started-emergency .kopilot-features-heading {
    width: 100%;
    max-width: 300px;
  }
}