/* Base */
.get-started-emergency .kopilot-features-container {
  padding-left: 102px;
}

.get-started-emergency .kopilot-features-media-col {
  width: 720px;
}

/* Tablet/Desktop */
@media screen and (min-width: 768px) {
  .get-started-emergency .kopilot-features-container {
    padding-left: 0;
  }
}

/* Mobile - Keep this LAST */
@media screen and (max-width: 767px) {
  .get-started-emergency .kopilot-features-container {
    padding-left: 0;
  }

  .get-started-emergency .kopilot-features-media-col {
    width: 100%;
    max-width: 300px;
  }

  .get-started-emergency .kopilot-features-heading {
    width: 100%;
    max-width: 100%;
  }
}