.list_collections_banner_inner.has_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.list_collections_banner_inner.has_img .list_collections_banner_text_wrapper {
    flex: 1 1 auto;
}

.list_collections_banner_img {
    max-width: 80rem;
    width: 100%;
    flex: 1 1 80rem;
}

.list_collections_banner_img.tilt_img {
    transform: translateY(2rem) rotate(-6deg);
}

.list_collections_banner_img img {
    width: 100%;
    height: 100%;
    max-height: 43rem;
    object-fit: cover;
    border-radius: var(--img-border-radius);
}

.list_collections_banner_text.rte {
    margin: 1.6rem 0 0;
    max-width: var(--content-max-width);
}


/* MEDIA QUERIES */
@media screen and (max-width: 1199px) {
    .list_collections_banner_img {
        display: none;
    }
}