/* FOOTER */
.password_footer_section_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.password_footer_section_social_icons_wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.password_footer_section_text svg {
    width: 7rem;
    height: 2rem;
    vertical-align: text-bottom;
    margin-left: 0.5rem;
}

.password_footer_section_text svg path {
    fill: var(--color-text);
}

.password_footer_section_text {
    display: flex;
    align-items: center;
    color: var(--color-text);
    font-size: 1.2rem;
}

.password_footer_section_login {
    color: var(--color-text);
    font-size: 1.2rem;
}

.password_footer_section_login a {
    color: var(--color-link);
    text-underline-offset: 2px;
}

.password_footer_section_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password_footer_section_social_icons_wrapper + .password_footer_section_content {
    width: fit-content;
    display: block;
}

.password_footer_section_social_icons_wrapper svg {
    width: 1.6rem;
    height: 1.6rem;
}

.password_footer_section_social_icons_wrapper svg path {
    fill: var(--color-text);
}

.password_footer_section_social_icons_wrapper a.icon__twitter svg path {
    stroke: var(--color-text);
}

.password_footer_section_social_icons_wrapper a:hover {
    transform: translateY(-2px);
}

.password_footer_section_social_icons_wrapper a {
    display: flex;
    transition: transform 0.3s ease;
}


/* MEDIA QUERIES */
@media screen and (max-width: 640px) {
    .password_footer_section_inner {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .password_footer_section_social_icons_wrapper .social_icons_wrapper {
        justify-content: center;
    }

    .password_footer_section_content {
        flex-flow: column;
        gap: 1rem;
    }
}