/* HEADER */
.password_header_section_inner {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.password_header_section_icon_text {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    cursor: pointer;
}

.password_header_section_icon_text svg {
    width: 1.8rem;
    height: 1.8rem;
}

.password_header_section_icon_text svg path {
    fill: var(--color-text);    
}

.password_header_section_icon_text span:last-child {
    color: var(--color-text);
}

/* POPUP */
.password_header_section_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #00000080;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.password_header_section_popup[open] {
    opacity: 1;
    pointer-events: all;
}

.password_header_section_popup_inner {
    max-width: 65rem;
    width: 100%;
    max-height: calc(100% - 5rem);
    height: fit-content;
    background: var(--color-background);
    padding: 2rem;
    transform: translateY(2rem);
    opacity: 0;
    border-radius: 1.2rem;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition-delay: 0.3s;
}

.password_header_section_popup[open] .password_header_section_popup_inner {
    transform: translateY(0);
    opacity: 1;
}

.password_header_section_popup_head {
    position: relative;
    text-align: center;
    margin: 0 0 3rem;
}

.password_header_section_popup_head button {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color-background);
    border: 1px solid var(--color-text);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease-in-out;
}

.password_header_section_popup_head button svg {
    width: 1.2rem;
    height: 1.2rem;
}

.password_header_section_popup_head button svg path {
    fill: var(--color-text);
    transition: fill 0.3s ease-in-out;
}

.password_header_section_popup_head button:hover {
    background: var(--color-text);
}

.password_header_section_popup_head button:hover svg path {
    fill: var(--color-background);
}

.password_header_section_popup_form form, .storefront_password_form_wrapper form {
    max-width: 50rem;
    margin-inline: auto;
}

.password_header_section_popup_form .input_field_wrapper, .storefront_password_form_wrapper .input_field_wrapper {
    height: 4.8rem;
}

.password_header_section_form_btn, .storefront_password_btn {
    display: flex;
    margin: 2rem 0 0;
    justify-content: center;
}

.password_header_section_admin_link {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem 0 0;
}

.password_header_section_admin_link span a {
    color: var(--color-link);
    text-underline-offset: 2px;
}

p.form_message {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #f00;
}

p.form_message svg {
    width: 1.4rem;
    height: 1.4rem;
    position: relative;
    top: -1px;
}

.form_errors {
    margin: 0 0 10px;
    color: #f00;
}

.password_header_form_btn {
    display: flex;
    margin: 1.6rem auto 0px;
    width: fit-content;
}


/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .password_header_section_popup_inner {
        max-width: calc(100% - 6rem);
    }
}

@media screen and (max-width: 640px) {
    .password_header_section_inner {
        flex-flow: column;
    }

    .password_header_section_popup_inner {
        max-width: calc(100% - 3rem);
    }
}

@media screen and (max-width: 499px) {
    .password_header_section_popup_head button {
        top: -2rem;
        right: -2rem;
        border-radius: 0;
        border: none;
    }
}