.password-email-banner-section {
    width: 100%;
    height: auto;
    display: flex;
    flex: 1;
}

.password_email_banner_inner {
    max-width: 75rem;
    margin-inline: auto;
    padding: 4rem 2rem;
    background: var(--color-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;
}

.password_email_banner_inner.has_image {
    max-width: 109.9rem;
    padding: 2rem;
    padding-bottom: 5rem;
}

.password_email_banner_img_wrapper {
    border-radius: 1.2rem;
    overflow: hidden;
    margin: 0 0 5rem;
}

.password_email_banner_img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 1.2rem;
}

.password_email_banner_inner.has_image .password_email_banner_head, .password_email_banner_inner.has_image .password_email_banner_form_wrapper {
    max-width: 82rem;
    margin-inline: auto;
}

.password_email_banner_head {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 0.5rem;
}

.password_email_banner_head h2, .password_email_banner_head .password_email_banner_text {
    opacity: 0;
}

.pasword_email_banner_form_fields {
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0;
}

.password_email_banner_form_wrapper {
    margin: 2rem 0 0;
}

p.form_success_msg {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 2rem 0 0;
    color: #09ad09;
}

p.form_success_msg svg {
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
    top: -1px;
}

p.form_success_msg svg path {
    fill: #09ad09;
}

.password_email_banner_form_error_message {
    margin: 0 0 1rem;
    font-size: 1.3rem;
    line-height: 1;
    color: #f00;
}

.password_email_banner_form_wrapper .form_success_msg {
    opacity: 0;
}

.password_email_banner_btn {
    margin: 0;
    max-width: 15rem;
    width: 100%;
    flex: 0 0 15rem;
}

.password_email_banner_btn button {
    width: 100%;
}

.pasword_email_banner_form_fields .input_field_wrapper {
    flex: 1;
    width: 100%;
    height: 4.2rem;
    border-radius: var(--btn-border-radius);
}

/* MEDIA QUERIES */
@media screen and (max-width: 640px) {
    .password_email_banner_inner.has_image {
        padding: 1.5rem 1.5rem 3rem;
    }
    
    .pasword_email_banner_form_fields {
        flex-flow: column;
    }

    .password_email_banner_btn {
        max-width: 100%;
        flex: 1;
    }
}