.product_recommendations_head {
    margin: 0 0 4rem;
    text-align: var(--head_align);
}

product-recommendations {
    display: block;
    position: relative;
}

product-recommendations .pr_btn {
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    z-index: 1;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid var(--color-arrows-border);
    background: var(--color-arrows-bg);
    transition: opacity .3s ease-in-out;
}

product-recommendations .pr_btn:after {
    display: none;
}

product-recommendations .pr_btn.swiper-button-prev {
    left: -2.5rem;
}

product-recommendations .pr_btn.swiper-button-next {
    right: -2.5rem;
}

product-recommendations .pr_btn:disabled {
    opacity: 0 !important;
}

.pr_btn.swiper-button-prev svg path,
.pr_btn.swiper-button-next svg path {
    fill: var(--color-arrows);
}


/* MEDIA QUERIES */
@media screen and (max-width: 640px) {
    .product_recommendations_head {
        margin: 0 0 3rem;
    }

    product-recommendations .pr_btn {
        width: 4rem;
        height: 4rem;
    }

    product-recommendations .pr_btn.swiper-button-prev {
        left: 0;
    }

    product-recommendations .pr_btn.swiper-button-next {
        right: 0;
    }

    product-recommendations .pr_btn svg {
        width: 1.6rem;
        height: 1.6rem;
    }
}